{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true
  },
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "no-unused-vars": 1,
    "comma-dangle": 0,
    "no-shadow": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prefer-template": 1,
    "react/prop-types": 0,
    "react/jsx-no-bind": 1,
    "no-underscore-dangle": 0,
    "max-len": 1
  }
}
