form.type1{
	.input-holder{
	    width: 50%;
	    display: inline-block;
	    vertical-align: middle;
	    padding: 5px;

	    &:nth-child(odd){
	    	padding-left:0;
	    }

	    &.num-sml-side{
	    	input{
	    		vertical-align: middle;
	    	}
	    	input[type="text"]{
	    		width: 75%;
	    	}
	    	input[type="number"]{
	    		width: 25%;
	    	}
	    }
	}

	.submit-holder{
		margin-top:5px;
	}

	input,select{
		line-height: normal;
	    width: 100%;
	    padding: 7px;
	    border-radius: 3px;
	    	-webkit-border-radius: 3px;
	    border: 1px solid darken(#f7f7f7, 5%);

	    &:focus{
	    	outline:0;
	    	border:1px solid darken(#f7f7f7, 20%);
	    }
	}

	select{
		height: 30px;
		background:#fff;
	}
}