$color1:#f5b068;

@import "normalize";
@import "grids";
@import "admin-panel";
@import "app-base";
@import "forms-base";
@import "login";

//datepicker
:global {
	@import "datepicker/variables";
	@import "datepicker/mixins";
	@import "datepicker/datepicker";
}


html, body,#root{
	height:100%;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background:#fff;
	font-size:12px;
	box-sizing:border-box;
}
